
.ipynb_checkpoints/ALS_1-checkpoint.ipynb
.ipynb_checkpoints/ALS_2_cython-checkpoint.ipynb
.ipynb_checkpoints/ALS_2.1_task1_slots-checkpoint.ipynb
.ipynb_checkpoints/ALS_2.1_task2_split_set-checkpoint.ipynb
.ipynb_checkpoints/Time aware similarity based recommendations-checkpoint.ipynb
.ipynb_checkpoints/ALS_2_cython - Copy-checkpoint.ipynb
.ipynb_checkpoints/Time aware similarity based recommendations - v0.5-checkpoint.ipynb
.ipynb_checkpoints/Time aware similarity based recommendations_v0.5-checkpoint.ipynb
.ipynb_checkpoints/Time aware similarity based recommendations_v2.2_leaveOneOut_AUC-checkpoint.ipynb
.ipynb_checkpoints/ALS_3 -sparkALS_user_song_count_tsv_slot1-checkpoint.ipynb
.ipynb_checkpoints/ALS_3.2 -sparkALS_user_song_count_slots_metrics-checkpoint.ipynb
.ipynb_checkpoints/Time aware similarity based recommendations_v2.0_leaveOneOut - Copy-checkpoint.ipynb
.ipynb_checkpoints/Time aware similarity based recommendations_v2.1.5_leaveOneOut - Copy-checkpoint.ipynb
.ipynb_checkpoints/Time aware similarity based recommendations_v2.6_leaveOneOut-checkpoint.ipynb
.ipynb_checkpoints/Time based slot of dataframes with song ids-checkpoint.ipynb
*.crc
*.parquet
model/als_plays_v1_1_iteration_7min/data/product/_SUCCESS
model/als_plays_v1_1_iteration_7min/data/user/_SUCCESS
model/als_plays_v1_1_iteration_7min/metadata/_SUCCESS
model/als_plays_v1_1_iteration_7min/metadata/part-00000
.ipynb_checkpoints/auc_curve_1-checkpoint.ipynb
.ipynb_checkpoints/CLEAN_ALS_3.1 -sparkALS_user_song_count_all_SLOTS-checkpoint.ipynb
.ipynb_checkpoints/CLEAN_v2.6_leaveOneOut_ALS_BayesianPR-checkpoint.ipynb
.ipynb_checkpoints/Time aware similarity based recommendations_v2.2_leaveOneOut_AUC_modifiedCSR-checkpoint.ipynb
