
.ipynb_checkpoints/ALS_1-checkpoint.ipynb
.ipynb_checkpoints/ALS_2_cython-checkpoint.ipynb
.ipynb_checkpoints/ALS_2.1_task1_slots-checkpoint.ipynb
.ipynb_checkpoints/ALS_2.1_task2_split_set-checkpoint.ipynb
.ipynb_checkpoints/Time aware similarity based recommendations-checkpoint.ipynb
.ipynb_checkpoints/ALS_2_cython - Copy-checkpoint.ipynb
.ipynb_checkpoints/Time aware similarity based recommendations - v0.5-checkpoint.ipynb
.ipynb_checkpoints/Time aware similarity based recommendations_v0.5-checkpoint.ipynb
.ipynb_checkpoints/Time aware similarity based recommendations_v2.2_leaveOneOut_AUC-checkpoint.ipynb
